<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>AgendaDWI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServelet</display-name>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>controller.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/LoginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlteraTarefaServlet</display-name>
    <servlet-name>AlteraTarefaServlet</servlet-name>
    <servlet-class>controller.AlteraTarefaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlteraTarefaServlet</servlet-name>
    <url-pattern>/AlteraTarefaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostraTarefaServlet</display-name>
    <servlet-name>MostraTarefaServlet</servlet-name>
    <servlet-class>controller.MostraTarefaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraTarefaServlet</servlet-name>
    <url-pattern>/MostraTarefaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveTarefaServlet</display-name>
    <servlet-name>RemoveTarefaServlet</servlet-name>
    <servlet-class>controller.RemoveTarefaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveTarefaServlet</servlet-name>
    <url-pattern>/RemoveTarefaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioServlet</display-name>
    <servlet-name>UsuarioServlet</servlet-name>
    <servlet-class>controller.UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioServlet</servlet-name>
    <url-pattern>/UsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TarefaServlet</display-name>
    <servlet-name>TarefaServlet</servlet-name>
    <servlet-class>controller.TarefaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TarefaServlet</servlet-name>
    <url-pattern>/TarefaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TarefaListagemServlet</display-name>
    <servlet-name>TarefaListagemServlet</servlet-name>
    <servlet-class>controller.TarefaListagemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TarefaListagemServlet</servlet-name>
    <url-pattern>/TarefaListagemServlet</url-pattern>
  </servlet-mapping>
</web-app>